<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../font-awesome-pro-5.15.1/css/all.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cat/">ADMIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/cat/"><i class="far fa-home"></i> Trang chủ </a>
      </div>
    </div>
  </div>
</nav>
 <!-- them danh muc san pham  -->
<div class="container">
    <!-- name / desc / detail / price / discount / amount / sold / idcat / showHide -->
<form class="col-6 border border-dark rounded p-3 m-auto" action="/pro/updatepro" method="POST">
    <div class="mb-3 col-12">
        <label for="id" class="form-label">ID </label>
        <input class="form-control" id="id" name="id" value="<%= d.id %>" readonly>
      </div>
    <div class="mb-3 col-12">
      <label for="name" class="form-label">Tên sản phẩm </label>
      <input class="form-control" id="name" name="name" value="<%= d.nameProduct %>">
    </div>

    <div class="mb-3 col-12">
      <label for="desc" class="form-label">description</label>
      <input class="form-control" id="desc" name="desc"  value="<%= d.description %>">
    </div>

    <div class="mb-3 col-12">
        <label for="detail" class="form-label">detail</label>
        <input class="form-control" id="detail" name="detail"  value="<%= d.detail %>">
    </div>

    <div class="mb-3 col-12">
        <label for="price" class="form-label">price</label>
        <input class="form-control" id="price" name="price"  value="<%= d.price %>">
    </div>
    
    <div class="mb-3 col-12">
        <label for="discount" class="form-label">Discount</label>
        <input class="form-control" id="discount" name="discount"  value="<%= d.discount %>">
    </div>

    <div class="mb-3 col-12">
        <label for="amount" class="form-label">Amount</label>
        <input class="form-control" id="amount" name="amount"  value="<%= d.amount %>">
    </div>  

    <div class="mb-3 col-12">
        <label for="sold" class="form-label">Da ban</label>
        <input class="form-control" id="sold" name="sold"  value="<%= d.da_ban %>">
    </div>
    
    <div class="mb-3 col-12">
        <label for="img" class="form-label">Hinh anh</label>
        <input class="form-control" id="img" name="img"  value="<%= d.img %>">
    </div>

    <div class="form-group mb-3">
        <label for="idCat">Chon danh muc san pham | <span> <%= d.id_catalog %> |  </span> </label>
            <select id="idCat" name="idCat">
                <% for (let l of listCat) { %>
                    <option value="<%= l.id %>"> <%= l.id %> - <%= l.nameCatalog %> </option>
                <% } %>
            </select>
    </div>

    <div class="form-group mb-3">
        <label>Ẩn hiện</label>
        <input type="radio" name="showHide" value="<%= d.showHide %>" checked> Ẩn  &nbsp; &nbsp; 
        <input type="radio" name="showHide" value="<%= d.showHide %>"> Hiện 
    </div>

  


        
    <div class="form-group mt-3 ">       
        <button type="submit" class="btn btn-dark px-4  py-2 text-white"> SAVE DATABASE </button>
    </div>

  </form>

</div>


